form {
    margin-bottom: 20px;
  }
  
  label {
    display: inline-block;
    width: 150px;
    color: #070707;
    font-size: larger;
  }
  
  input {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  button {
    padding: 8px 15px;
    color: #fff;
    border: none;  
  }
  
  button:hover {
    background-color: #8e06f6;
  }
  