<div>
  <h2>Registration Form</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="addUser()"  >
    <div class="card p-2">
      <div class="card-body"><h4>CRUD Operation</h4></div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="a">User Name</label>
            <input type="text" name="a" id="a" class="form-control" formControlName="name">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="b">DOB</label>
            <input type="date" name="b" id="b" class="form-control" formControlName="dob">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="c">Joining Date</label>
            <input type="date" name="c" id="c" class="form-control" formControlName="jdate">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="c">Class</label>
            <input type="text" name="c" id="c" class="form-control" formControlName="clas">
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary m-2" type="submit" [disabled]="registrationForm.invalid">Register</button>
  </form>
  <button class="btn btn-success m-2" (click)="update()" >Update</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">name</th>
      <th scope="col">DATE OF BIRTH</th>
      <th scope="col">JOINING DATE</th> 
      <th scope="col">CLASS</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.dob }}</td>
      <td>{{ user.jdate }}</td> 
      <td>{{ user.clas }}</td> 
      <td>
        <button class="btn btn-info m-2" (click)="updateUser(user)" >Edit</button>
        <button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>



